.header
  -# renderで追加
.wrapper
  .main
    .side-lists
      %ul
        .side-lists__header
        %li.list
          = link_to "マイページ", "#", class: "list__link"
        %li.list
          = link_to "お知らせ", "#", class: "list__link"
        %li.list
          = link_to "出品する", "#", class: "list__link"
        %li.list
          = link_to "出品した商品 - 出品中", "#", class: "list__link"
        %li.list
          = link_to "出品した商品 - 取引中", "#", class: "list__link"
        %li.list
          = link_to "出品した商品 - 売却済み", "#", class: "list__link"
        %li.list
          = link_to "購入した商品 - 取引中", "#", class: "list__link"
        %li.list
          = link_to "購入した商品 - 過去の取引", "#", class: "list__link"
        %li.list
          = link_to "ガイド", "#", class: "list__link"
        %li.list
          = link_to "お問い合わせ", "#", class: "list__link"
      %ul
        .side-lists__header
          設定
        %li.list
          = link_to "プロフィール", "#", class: "list__link"
        %li.list
          = link_to "発送元・お届け先住所変更", "#", class: "list__link"
        %li.list
          = link_to "クレジットカード登録/変更", "#", class: "list__link"
        %li.list
          = link_to "メール/パスワード", "#", class: "list__link"
        %li.list
          = link_to "本人情報", "#", class: "list__link"
        %li.list
          = link_to "電話番号の確認", "#", class: "list__link"
        %li.list
          = link_to "ログアウト", "#", class: "list__link"

    .main-contents
      .main-contents__user-info
        .user-icon
          = link_to "#", class: "icon" do
            =icon('fas', 'user')
        .user-name
          aaaa
      .main-contents__content
        %h1 お知らせ
        %ul
          %li.mypage__notice
            aaaaaaaaa
          %li.mypage__notice
            bbbbbbbbb
      .main-contents__content
        %h2.mypage__tab-head 購入した商品
        %ul.mypage
          %li.mypage__tabs
            %h2 取引中
          %li.mypage__tabs
            %h2 過去の取引
        .item-lists
          %ul.item-lists__field
            %li.list
              取引中の商品がありません
.footer
  = render "layouts/footer"