.Base__body
  .Base__body__area
    .Base__body__area__picture
      .Base__body__area__picture__text
        .Base__body__area__picture__text__step
          .Base__body__area__picture__text__step__title
            出品画像
          .Base__body__area__picture__text__step__mark
            必須
        .Base__body__area__picture__text__explain
          最大10枚までアップロードできます
      = form_with url:"#", local: true do |i|
        = i.label :image, class: "Base__body__area__picture__iconArea" do
          = icon('fas','camera')
          = i.file_field :image, class: "Base__body__area__picture__iconArea__pictureArea"
          .Base__body__area__picture__iconArea__text
            ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード

    .Base__body__area__item
      .Base__body__area__item__nameArea
        .Base__body__area__item__nameArea__step
          .Base__body__area__item__nameArea__step__name
            商品名
            .Base__body__area__item__nameArea__step__name__mark
              必須
          = form_with url:"#", local: true do |i|
            = i.text_field :name, placeholder: '40文字まで', class: "Base__body__area__item__nameArea__step__inputArea"
      .Base__body__area__item__informationArea
        .Base__body__area__item__informationArea__step
          .Base__body__area__item__informationArea__step__information
            商品の説明
          .Base__body__area__item__informationArea__step__mark
            必須
        = form_with url:"#", local: true do |i|
          = i.text_area :info, class: "Base__body__area__item__informationArea__space", placeholder: "商品の説明（必須　1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          .Base__body__area__item__informationArea__number
            0/1000

    .Base__body__area__itemDetail
      商品の詳細
      .Base__body__area__itemDetail__categoryArea
        .Base__body__area__itemDetail__categoryArea__step
          .Base__body__area__itemDetail__categoryArea__step__category
            カテゴリー
          .Base__body__area__itemDetail__categoryArea__step__mark
            必須
        = form_with url:"#", local: true do |i| 
          = i.select :item, {"レディース":1, "メンズ":2, "ベビー・キッズ":3, "インテリア・住まい・小物":4, "本・音楽・ゲーム":5, "おもちゃ・ホビー・グッズ":6, "コスメ・香水・美容":7, "家電・スマホ・カメラ":8, "スポーツ・レジャー":9, "ハンドメイド":10, "チケット":11, "自動車・オートバイ":12, "その他":13}, {include_blank: "選択してください"}, {class: "Base__body__area__itemDetail__categoryArea__selectArea", required: true}
      .Base__body__area__itemDetail__brandArea
        .Base__body__area__itemDetail__brandArea__step
          .Base__body__area__itemDetail__brandArea__step__brand
            ブランド
          .Base__body__area__itemDetail__brandArea__step__mark
            任意
        = form_with url:"#", local: true do |i|
          = i.text_field :brand, placeholder: "例）シャネル", class: "Base__body__area__itemDetail__brandArea__inputArea"
      .Base__body__area__itemDetail__conditionArea
        .Base__body__area__itemDetail__conditionArea__step
          .Base__body__area__itemDetail__conditionArea__step__condition
            商品の状態
          .Base__body__area__itemDetail__conditionArea__step__mark
            必須
        = form_with url:"#", local: true do |i|
          = i.select :item, {"新品、未使用":1, "未使用に近い":2, "目立った傷や汚れなし":3, "やや傷や汚れあり":4, "傷や汚れあり":5, "全体的に状態が悪い":6}, {include_blank: "選択してください"}, {class: "Base__body__area__itemDetail__conditionArea__selectArea", required: true}
    
    .Base__body__area__delivery
      配送について
      = link_to icon("fas", "question-circle"), "#"
      .Base__body__area__delivery__feeArea
        .Base__body__area__delivery__feeArea__step
          .Base__body__area__delivery__feeArea__step__fee
            配送料の負担
          .Base__body__area__delivery__feeArea__step__mark
            必須
        = form_with url:"#", local: true do |i|
          = i.select :item, {"送料込み(出品者負担)":1, "着払い(購入者負担)":2}, {include_blank: "選択してください"}, {class: "Base__body__area__delivery__feeArea__selectArea", required: true}
      .Base__body__area__delivery__regionArea
        .Base__body__area__delivery__regionArea__step
          .Base__body__area__delivery__regionArea__step__region
            配送元の地域
          .Base__body__area__delivery__regionArea__step__mark
            必須
        = form_with url:"#", local: true do |i|
          = i.select :region, Item.regions.keys, {include_blank: "選択してください"}, {class: "Base__body__area__delivery__regionArea__selectArea", required: true}
      .Base__body__area__delivery__daysArea
        .Base__body__area__delivery__daysArea__step
          .Base__body__area__delivery__daysArea__step__days
            発送までの日数
          .Base__body__area__delivery__daysArea__step__mark
            必須
        = form_with url:"#", local: true do |i|
          = i.select :item, {"1~2日で発送":1, "2~3日で発送":2, "4~7日で発送":3}, {include_blank: "選択してください"}, {class: "Base__body__area__delivery__daysArea__selectArea", required: true}
    
    .Base__body__area__price
      価格（¥300〜9,999,999）
      = link_to icon("fas", "question-circle"), "#"
      .Base__body__area__price__sellingPriceArea
        .Base__body__area__price__sellingPriceArea__letterStep
          .Base__body__area__price__sellingPriceArea__letterStep__price
            販売価格
          .Base__body__area__price__sellingPriceArea__letterStep__mark
            必須
        .Base__body__area__price__sellingPriceArea__inputStep
          .Base__body__area__price__sellingPriceArea__inputStep__unit
            ¥
          %input.Base__body__area__price__sellingPriceArea__inputStep__selectArea{name: "price", type: "number", placeholder: 0}
      .Base__body__area__price__chargeArea
        .Base__body__area__price__chargeArea__charge
          販売手数料（10%）
        .Base__body__area__price__chargeArea__calculate
          ー
      .Base__body__area__price__profitArea
        .Base__body__area__price__profitArea__profit
          販売利益
        .Base__body__area__price__profitArea__calculate
          ー

    = form_with url:"#", class: "Base__body__area__buttonArea", local: true do |i|
      = i.submit "出品する", class:"Base__body__area__buttonArea__exhibit"
      = i.submit "下書きに保存", class:"Base__body__area__buttonArea__save"
      = link_to "もどる","#", class: "Base__body__area__buttonArea__back"

    .Base__body__area__attention
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規則に同意したことになります。
    
    .Base__body__area__foot
      .Base__body__area__foot__agreementArea
        = link_to "プライバシーポリシー","#", class: "Base__body__area__foot__agreementArea__policy"
        = link_to "フリマ利用規約","#", class: "Base__body__area__foot__agreementArea__agreement"
        = link_to "特定商取引に関する表記","#", class: "Base__body__area__foot__agreementArea__write"
      .Base__body__area__foot__icon
        = link_to (image_tag "logo-white.png", size: "170x49"), "#"
      .Base__body__area__foot__applicationName
        ©️furima, Inc.
