.Main
  .Main__header
    = image_tag "logo.png", class: "logo"
  .Main__contents
    .content
      .content__header
        %h2
          購入内容の確認
      .content__item.space
        .item__image
          .item__image__photo
            = image_tag "", size: "100x100", alt: "NO image"
          .item__image__info
            %p.name aaaaaaaaaaaaaaaaaaa
            %p.price
              %span 送料込み(税込)
              %span.font ¥900000000
      .content__fee.space
        %span.font 支払い金額
        %span.font ¥900000000
      .content__credit.space
        %h3 支払い方法
        = link_to "#", class: "user-info" do
          =icon('far', 'plus-square')
          %span カードを登録してください
      .content__address.space
        %h3 配送先
        = link_to "#", class: "user-info" do
          =icon('far', 'plus-square')
          %span 住所を登録してください
      .content__button.space
        %button.confirm-btn 購入する
  .Main__info
    %ul.footer-info
      %li
        = link_to "プライバシーポリシー", "#", class: "info"
      %li
        = link_to "FURIMA利用規約", "#", class: "info"
      %li
        = link_to "特定商取引に関する表記", "#", class: "info"
    .footer-logo
      = image_tag "logo-white.png", class: "logo"
      %p ©︎FURIMA
